.headerContainer{
	background-color: transparent;
	position: fixed;
	z-index: 99;
	img{
		width: 150px;
		padding: 20px;

	}
	.logo{
		text-align: right;
	}
	@media (max-width: 768px) {
		img{
			width: 80px;

		}
	}
}
.headerContainer-2{
	background-color: white;
	text-align: center;
	.headerCol{
		padding: 25px;
		margin-top: 100px;
	}
	.leftSide{
		text-align: left;
		font-weight: bold;
		padding-left: 80px;
	}
	.rightSide{
		text-align: right;
		font-weight: bold;
		padding-right: 80px;
	}
	.arrow{
		padding:50px;
		cursor: pointer;
		
		i{
			font-size: 80px;

			&:hover{
					color:#43c5e0;
				}
		}
		@media (max-width: 768px) {
			padding: 10px;

			i{
				font-size: 60px;
			}
		}
	}
	h1{
		color:black;
		font-size: 180px;
  		-webkit-animation: slidein 3s, color-change 5s infinite;

	}
	@keyframes slidein {
	  from {
	    margin-left: 100%;
	    width: 300%
	  }

	  to {
	    margin-left: 0%;
	    width: 100%;
	  }
	}
	@-webkit-keyframes color-change {
      0% {
        
        color: #84ecff;
      }
      
      10% {
        
        color: #e184ff;
      }
      
      20% {
        
        color: #deff84;
      }
      
      30% {
        
        color: #84ff90;
      }
      
      40% {
        
        color: #fff584;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: #e184ff;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }

	p{
		color:#999999;
		padding: 80px;
	}
	hr{
		width: 60px;
	}
	img{
		width: 150px;
		padding: 30px;
	}
	@media (max-width: 768px) {
		h1{
			font-size: 45px;
		}

		.leftSide{

		padding-left: 20px;
		}
		.rightSide{

			padding-right: 20px;
		}
		p{
		color:#999999;
		padding: 20px;
		}

	}
}

	  a:active, a:focus {
	  outline: 0;
	  border: none;
	  -moz-outline-style: none;
	}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 27px;
  @media (max-width: 768px) {

  	  width: 26px;
  	  height: 20px;

  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  font-size: 20px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #15b2d699;
  padding: 2.5em 1.5em 0;
  font-size: 2.15em;
  text-decoration: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;


}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}