@import "~bootstrap/scss/functions";

.ReactModal__Overlay{

	background-color: rgba(51, 255, 240, 0.3) !important;
	opacity: 0.8;
	z-index: 9999999;
		
}

.ReactModal__Content{
	border: 10px solid black !important;
}

.modalButton{
    top: 2px;
    right: 3px;
    position: absolute;
    font-size: 15px !important;
}

.modalPic{
	width: 400px;
	@media (max-width: 768px) {
		width: 300px;
	}

}


.blackBar{
	background-color: black;
	height: 15px;
}
.porfolioContainer{
	background-color: #4ddaf7;
	text-align: center;

	h1{
		font-size: 40px;
		padding: 40px;
		margin-top: 0px;
		font-weight: bold;
	}

	.portfolioItem{
		text-align: center;
		padding:10px;
		cursor: pointer;
		transition: 0.3s;
		position: relative;


		&:hover{

			.view{
				animation: createBox .25s;
				opacity: 1;
				height: 100%;
			    width: 100%;

			}

			img{
				width: 400px;
				opacity: 1;
			}

			h1{
				font-size: 28px;
			}
		}

		img{
			cursor: pointer;
			width: 350px;
			opacity: 0.6;
			transition: 0.3s;



		}
		.view{
			opacity: 0;
		    position: absolute;
		    bottom: 30px;
		    left: 5px;
		    z-index: 9999;
		    background-repeat: no-repeat;
			background-position: center; 
		}

		@keyframes createBox {
		  from {
		    transform: scale(0);
		  }
		  to {
		    transform: scale(1);
		  }
		}
		
		h1{
			padding: 20px;
			font-size: 20px;
			font-weight: bold;
		}
		// .imgBg{
		// 	// display: none;
		//     background-color: white;
		//     opacity: 0.5;
		//     width: 100%;
		//     height: 100%;
		//     position: absolute;
		//     top: 0px;
		//     left: 0px;
		//     padding:30px;


		// }

	}


	.arrow{
		text-align: center;
		padding:50px;
		cursor: pointer;
		i{
			font-size: 80px;

			&:hover{
					color:#ed93fd;
			}
		}
		@media (max-width: 600px) {
			padding: 10px;

			i{
				font-size: 60px;
			}
		}
	}
}